/target
/lib
/classes
/checkouts
pom.xml
pom.xml.asc
*.jar
*.class
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
public/elm/elm-stuff
public/elm/node_modules
public/elm/bower_components
octo-auth.edn
