{
 :workspace "/home/ronen/workspace"
 :repos [
    {:user "narkisr"
     :auth ""
     :options {:fpm-barbecue {:branch "master"}}
     :exclude []
     :layouts [["elm-*" "narkisr/elm"] [".*" "narkisr"]]
    }
    {:org "opskeleton"
     :exclude []
     :layouts [[".*" "opskeleton"]]
    }
    {:org "celestial-ops"
     :exclude []
     :layouts [[".*" "celestial"]]
    }
    {:org "pulling-strings"
     :exclude []
     :layouts [[".*" "strings"]]
    }
  ]
}
