{
 :workspace "/tmp/workspace" 
 :repos [
    {:user "narkisr" 
     :exclude [] 
     :layouts [] 
    }       
    {:user "opskeleton"
     :exclude []
     :layouts [["\\.*box" "boxes"]] 
    }       
  ]
}
