{
 :workspace "/home/ronen/workspace" 
 :repos [
    {:user "narkisr" 
     :exclude [] 
     :layouts [[".*" "narkisr"]] 
    }       
    {:user "opskeleton"
     :exclude []
     :layouts [[".*" "opskeleton"]] 
    }       
    {:user "celestial-ops"
     :exclude []
     :layouts [[".*" "celestial"]] 
    }
    {:user "pulling-strings"
     :exclude []
     :layouts [[".*" "strings"]] 
    }
  ]
}
