{
 :workspace "/home/ronen/octo-development/gitblit"
 :user "admin"
 :password "vagrant"
 :url "https://192.168.121.22:8443/"
 :push {
   :zbackup {
     :password-file "/home/ronen/.github.pass"
    }

   :rclone {
    :dest "s3:octo-development/gitblit"
   }
  }
}
